ErrorDocument 400 /errors.php
ErrorDocument 401 /errors.php
ErrorDocument 402 /errors.php
ErrorDocument 403 /errors.php
ErrorDocument 404 /errors.php
ErrorDocument 405 /errors.php
ErrorDocument 406 /errors.php
ErrorDocument 407 /errors.php
ErrorDocument 408 /errors.php
ErrorDocument 409 /errors.php
ErrorDocument 410 /errors.php
ErrorDocument 411 /errors.php
ErrorDocument 412 /errors.php
ErrorDocument 413 /errors.php
ErrorDocument 414 /errors.php
ErrorDocument 415 /errors.php
ErrorDocument 416 /errors.php
ErrorDocument 417 /errors.php
ErrorDocument 500 /errors.php
ErrorDocument 501 /errors.php
ErrorDocument 502 /errors.php
ErrorDocument 503 /errors.php
ErrorDocument 504 /errors.php
ErrorDocument 505 /errors.php